* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* header, layout */

.header {
  background-color: #232931;
  height: 70px;
}

.headerContent,
.container {
  height: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.container {
  height: calc(100vh - 70px);
}

.header .top,
.header .navBar {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navBar {
  justify-content: space-around;
}

.header .top > a,
.header .navBar > a {
  color: rgb(240, 248, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.header .top > a {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #232931;
  text-shadow: 4px 4px 2px rgb(240, 248, 255), -4px -4px 2px rgb(240, 248, 255),
    -4px 4px 2px rgb(240, 248, 255), 4px -4px 2px rgb(240, 248, 255);
}

.header .navBar > a:hover {
  font-weight: 900;
  color: #232931;
  text-shadow: 4px 4px 2px rgb(240, 248, 255), -4px -4px 2px rgb(240, 248, 255),
    -4px 4px 2px rgb(240, 248, 255), 4px -4px 2px rgb(240, 248, 255);
}

/* buttons */
.buttons.container {
  display: flex;
  flex-wrap: wrap;
}

.btnContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnContainer:first-of-type {
  background-color: #222831;
}

.btnContainer:nth-of-type(2) {
  background-color: green;
}

.btnContainer > button {
  cursor: pointer;
}

/* inputs */
.inputs.container {
  display: flex;
  flex-wrap: wrap;
}

.inputContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer label {
  display: flex;
  flex-direction: column;
}

.btn1 {
  /*
#222831
#393e46
#00adb5
#eeeeee
*/
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #00adb5;
  transition: 0.5s;
  letter-spacing: 4px;
  font-weight: 900;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn1:hover {
  background: #00adb5;
  color: #222831;
  box-shadow: 0 0 5px #00adb5, 0 0 25px #00adb5, 0 0 50px #00adb5,
    0 0 200px #00adb5;
}

.btn1 span {
  position: absolute;
  display: block;
}

.btn1 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00adb5);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btn1 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00adb5);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btn1 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00adb5);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btn1 span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00adb5);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
