* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* header, layout */

.header {
  background-color: #232931;
  height: 70px;
}

.headerContent,
.container {
  height: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.container {
  height: calc(100vh - 70px);
}

.header .top,
.header .navBar {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navBar {
  justify-content: space-around;
}

.header .top > a,
.header .navBar > a {
  color: rgb(240, 248, 255);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}

.header .top > a {
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 900;
  color: #232931;
  text-shadow: 4px 4px 2px rgb(240, 248, 255), -4px -4px 2px rgb(240, 248, 255),
    -4px 4px 2px rgb(240, 248, 255), 4px -4px 2px rgb(240, 248, 255);
}

.header .navBar > a:hover {
  font-weight: 900;
  color: #232931;
  text-shadow: 4px 4px 2px rgb(240, 248, 255), -4px -4px 2px rgb(240, 248, 255),
    -4px 4px 2px rgb(240, 248, 255), 4px -4px 2px rgb(240, 248, 255);
}

/* buttons */
.buttons.container {
  display: flex;
  flex-wrap: wrap;
}

.btnContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .btnContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.btnContainer:nth-of-type(1) {
  background-color: #6a2c70;
}
.btnContainer:nth-of-type(2) {
  background-color: #393e46;
}
.btnContainer:nth-of-type(3) {
  background-color: #f7e590;
}
.btnContainer:nth-of-type(4) {
  background-color: #19011d;
}
.btnContainer:nth-of-type(6) {
  background-color: #222831;
}

.btnContainer > button {
  cursor: pointer;
}

/* inputs */
.inputs.container {
  display: flex;
  flex-wrap: wrap;
}

.inputContainer {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer label {
  display: flex;
  flex-direction: column;
}
/* button #1 */

.btn1 {
  position: relative;
  width: 155px;
  height: 50px;
  border: none;
  background: none;
  text-transform: uppercase;
}

.btn1 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(126, 64, 132, 0.5);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #f9ed69;
  color: #fff;
  z-index: 1;
  text-decoration: none;
  overflow: hidden;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.5s;
  backdrop-filter: blur(10px);
}

.btn1 a:hover {
  letter-spacing: 2px;
}

.btn1 a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.35), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
}

.btn1:hover a::before {
  transform: skewX(45deg) translate(200%);
}

.btn1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  background: #f00;
  background: #d42323;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn1:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn1::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -5px;
  transform: translateX(-50%);
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn1:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn1:nth-child(1)::before,
.btn1:nth-child(1)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71,
    0 0 60px #ff1f71;
}

/* button #2 */

.btn2 {
  position: relative;
  padding: 20px 50px;
  display: block;
  border: none;
  background: none;
  text-transform: uppercase;
  width: 200px;
  overflow: hidden;
}

.btn2 span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
}

.btn2 .liquid {
  position: absolute;
  left: 0;
  top: -70px;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.btn2:hover .liquid {
  top: -120px;
}
.btn2 .liquid::before,
.btn2 .liquid::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  background: #393e46;
}

.btn2 .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: liquidAnimation 5s linear infinite;
}
.btn2 .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: liquidAnimation 10s linear infinite;
}

@keyframes liquidAnimation {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

/* button #3 */

.btn3 {
  position: relative;
  width: 300px;
  height: 75px;
  border: none;
  background: none;
  margin: 10px 0;
  font-size: 24px;
  transition: 0.5s;
}

.btn3:hover {
  color: #fff;
}
.btn3:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: url("assets/btn-bg1.png");
  background-size: cover;
  transform-origin: left;
  transition: 0.5s;
}

.btn3:hover:before {
  width: 100%;
}

.btn3 span {
  position: relative;
  z-index: 1;
}

/* button #4 */
.btn4 {
  position: relative;
  padding: 15px 30px;
  margin: 10px;
  background: #27022d;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #000;
  transition: 0.5s;
  overflow: hidden;
}

.btn4:hover {
  background: #a41ee9;
}

.btn4::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, #fff, transparent);
  transition: 0.5s;
}

.btn4:hover:before {
  left: 100%;
}

/* button #5 */

.btn5 {
  border: none;
  display: block;
  position: relative;
  padding: 12px 35px;
  font-size: 24px;
  background: transparent;
  user-select: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #1972a4;
  overflow: hidden;
}

.btn5 span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 5px solid #1972a4;
}

.btn5 span::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 500%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  background: white;
  transition: all 0.3s;
}

.btn5:hover span::before,
.btn5:focus span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #1972a4;
}

.btn5:hover,
.btn1:focus {
  color: #fff;
}

/* button #6 */

.btn6 {
  position: relative;
  display: inline-block;
  padding: 15px 20px;
  border: none;
  background: none;
  text-transform: uppercase;
  color: #00adb5;
  transition: 0.5s;
  letter-spacing: 4px;
  font-weight: 900;
  overflow: hidden;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.btn6:hover {
  background: #00adb5;
  color: #222831;
  box-shadow: 0 0 5px #00adb5, 0 0 25px #00adb5, 0 0 50px #00adb5,
    0 0 200px #00adb5;
}

.btn6 span {
  position: absolute;
  display: block;
}

.btn6 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #00adb5);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.btn6 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #00adb5);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.btn6 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #00adb5);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.btn6 span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #00adb5);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
